.board{
    width: 464px;
    height: 515px;
    background-color: var(--board-bg);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 68px 32px;    
    position: relative;
}
.board::after{
    content: url('../../assets/img/undraw_adventure_4hum\ 1.svg');
    position: absolute;
    top: -72px;
    right: 0;
}