:root{
  --header-title: #F2F2F2;
  --board-bg: #FFF;
  --question: #2F527B;
  --answear: #6066D0;
  --selected-answear: #F9A826;
  --correct-answear: #60BF88;
  --wrong-answear: #EA8282
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('./assets/img/background.png');
  display: flex;
  justify-content: center;
  align-items: center;  
}
